# IDE
.idea
.vscode

# Git
.git

# Environment
.env
.venv/
venv/
version.env
.version
.python-version

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pypirc

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Cache dirs
.cache
.*_cache
.task/

# Other
.DS_Store
*.log

# taskfile
.task
task

# Documentation
site/

# LLM
.continuerules
.goose*
