name: CI

on:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    branches: # Target branches
      - master

# default token permissions = none
permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COLUMNS: 120

jobs:
  validate:
    uses: ./.github/workflows/validate.yml
    with:
      python-versions: '[ "3.11", "3.12", "3.13"]'
    permissions: { }
    secrets: { }
