---
name: Deploy docs

on:
  # Enable workflow as callable from another workflow
  workflow_call:
    inputs:
      doc-files-changed:
        description: 'Boolean string result for if documentation files have changed'
        type: string
        required: false
        default: 'false'
      src-files-changed:
        description: 'Boolean string result for if source files have changed'
        type: string
        required: false
        default: 'false'

env:
  COMMON_PYTHON_VERSION: '3.14'

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    if: ${{ inputs.doc-files-changed == 'true' || inputs.src-files-changed == 'true' }}

    env:
      DOCS_DEPLOY: true

    steps:
      - name: Setup | Create access token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.VERSION_BUMPER_APPID }}
          private-key: ${{ secrets.VERSION_BUMPER_SECRET }}

      - name: Setup | Checkout Repository at workflow sha
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.sha }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup | Install Python ${{ env.COMMON_PYTHON_VERSION }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: ${{ env.COMMON_PYTHON_VERSION }}

      - name: Setup | Install UV
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          enable-cache: true

      - name: Build | Build docs
        run: uv run --group=docs zensical build --clean

      - name: Deploy | Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
        with:
          branch: gh-pages
          folder: site
          clean: true
          clean-exclude: |
            pr-preview
          token: ${{ steps.app-token.outputs.token }}
