---
name: Deploy docs

on:
  # Enable workflow as callable from another workflow
  workflow_call:
    inputs:
      doc-files-changed:
        description: 'Boolean string result for if documentation files have changed'
        type: string
        required: false
        default: 'false'
      src-files-changed:
        description: 'Boolean string result for if source files have changed'
        type: string
        required: false
        default: 'false'

env:
  COMMON_PYTHON_VERSION: '3.12'

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    if: ${{ inputs.doc-files-changed == 'true' || inputs.src-files-changed == 'true' }}

    env:
      DOCS_DEPLOY: true
      GITHUB_ACTIONS_AUTHOR_NAME: github-actions
      GITHUB_ACTIONS_AUTHOR_EMAIL: actions@users.noreply.github.com

    steps:
      - name: Setup | Create access token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          app-id: ${{ vars.VERSION_BUMPER_APPID }}
          private-key: ${{ secrets.VERSION_BUMPER_SECRET }}

      - name: Setup | Checkout Repository at workflow sha
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.sha }}
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup | Configure Git Credentials
        run: |
          git config user.name ${{ env.GITHUB_ACTIONS_AUTHOR_NAME }}
          git config user.email ${{ env.GITHUB_ACTIONS_AUTHOR_EMAIL }}

      - name: Setup | Install Python ${{ env.COMMON_PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: ${{ env.COMMON_PYTHON_VERSION }}

      - name: Setup | Install UV
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          enable-cache: true

      - name: Deploy | Deploy docs to GitHub Pages
        run: uv run --group=docs mkdocs gh-deploy --force
